*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif; 
  box-sizing: border-box;
}

.container{
   position: relative;
   overflow: auto;
   width: 100%;
   height: 100vh;
   scroll-snap-type:y mandatory ; 
}

.container .section{
   position: relative;
   width: 100%;
   height: 100%;
   scroll-snap-align:start ;
   background-blend-mode: multiply;
}
.container .section:nth-child(1){
   background:rgb(87, 84, 84) url(p2.jpeg);
   position: relative;
   background-size: cover;
   background-attachment: fixed; 
   /* opacity: 0.8; */
}
.container .section:nth-child(2){
   background: url(laptop.jpeg);
   position: relative;
   background-size: cover;
   background-attachment: fixed;
   /* opacity: 0.8; */
     
}
.container .section:nth-child(3){
   background: url(p4.jpeg);
   position: relative;
   background-size: cover;
   background-attachment: fixed;
}
.container .section:nth-child(4){
   background: rgb(69, 127, 160) url(p1.jpeg);
   position: relative;
   background-size: cover;
   background-attachment: fixed;
}
.container .section .content{
position: absolute;
/* bottom: 90px; */
top: 40%;
left: 20%;
max-width: 1000px;              
}

span{
   color: rgb(243, 236, 236);
}

.container .section .content h1{ 
   background:#fff;
   color: #111;
   font-weight: 600;
   display: inline-block;
   padding: 10px 20px;
   font-size: 2em;             
}

                                              
.container .section .content p{
   /* background:#fff; */
   color: rgb(230, 223, 223);
   font-weight: 300;
   padding: 10px 20px;
   margin-top:-9px ;     
   margin-left: 29px;                                              
}
.menubar{
   text-align: center;
}
.menubar ul{
display: inline-flex;
list-style: none;
}
.menubar ul li{
  width: 170px;
  margin: 15px;
  padding: 15px;
   }
.menubar ul li a{
   text-decoration: none;
   color:rgb(17, 16, 16)
}
.active,.menubar ul li :hover
{
/* background:#7a7c7a;  */
color:rgb(133, 130, 118);
/* border-radius: 3px; */
}
.active
{
color: #333;
border-radius: 3px;
}
/* word wrap */
body {
   display: flex;
   align-items: center; 
   justify-content: center;
   height: 100vh;
   width: 100vw;
 }
h2 {
   color: #333;
   font-family: tahoma;
   font-size: 3rem;
   font-weight: 100;
   line-height: 1.5;
   text-transform: uppercase;
   white-space: nowrap;
   overflow: hidden;
   position: relative;
   width: 1000px;
}
 
h2 span {
   font-size: 40px;
   margin-left: 47px;
}
 
.message {
   /* background-color: yellow; */
   color: rgb(211, 176, 23);
   display: block;
   font-weight: 900;
   overflow: hidden;
   position: absolute;
   padding-left: 0.5rem;
   top: 0.2rem;
   left: 270px;
   animation: openclose 5s ease-in-out infinite;
}
.container .section k{
   color: rgb(238, 234, 234);
   margin-left: 3%;
   font-size: 40px;
   top: 20%;
   
}
 b{
     color:rgb(5, 2, 2)
 }
 .word1, .word2, .word3 {
   font-family: tahoma;
 }
 
 @keyframes openclose {
   0% {
     top: 0.2rem;
     width: 0;
   }
   5% {
     width: 0;
   }
   15% {
     width: 230px;
   }
   30% {
     top: 0.2rem;
     width: 230px;
   }
   33% {
     top: 0.2rem;
     width: 0;
   }
   35% {
     top: 0.2rem;
     width: 0;
   }
   38% {
     top: -4.5rem;
     
   }
   48% {
     top: -4.5rem;
     width: 190px;
   }
   62% {
     top: -4.5rem;
     width: 190px;
   }
   66% {
     top: -4.5rem;
     width: 0;
     text-indent: 0;
   }
   71% {
     top: -9rem;
     width: 0;
     text-indent: 5px;
   }
   86% {
     top: -9rem;
     width: 285px;
   }
   95% {
     top: -9rem;
     width: 285px;
   }
   98% {
     top: -9rem;
     width: 0;
     text-indent: 5px;
   }
   100% {
     top: 0;
     width: 0;
     text-indent: 0;
   }

}

/* another text */
.Intro{
text-align:center;
 background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
 color:#555;
 font-family:'Roboto';
 font-weight:300;
 font-size:10px;
 padding-top:40vh;
 height:100vh;
 overflow:hidden;
 -webkit-backface-visibility: hidden;
 -webkit-perspective: 1000;
 -webkit-transform: translate3d(0,0,0);
}
ck{
   display:inline-block;
   overflow:hidden;
   white-space:nowrap;

}

ck:first-of-type {    /* For increasing performance 
   ID/Class should've been used. 
   For a small demo 
   it's okaish for now */
animation: showup 10s infinite;
}

ck:last-of-type {
width:100px;
animation: reveal 10s infinite;
}

ck:last-of-type k {
margin-left:-355px;
animation: slidein 10s infinite;
}

@keyframes showup {
0% {opacity:0;}
20% {opacity:1;}
80% {opacity:1;}
100% {opacity:0;}
}

@keyframes slidein {
0% { margin-left:-800px; }
20% { margin-left:-800px; }
35% { margin-left:0px; }
100% { margin-left:0px; }
}

@keyframes reveal {
0% {opacity:0;width:0px;}
20% {opacity:1;width:0px;}
30% {width:800px;}
80% {opacity:1;}
100% {opacity:0;width:800px;}
}
h5{
   font-size: 200%;
   left: 30%;
}

/* Experience */

.container .section .contentc{
   position: absolute;
   /* bottom: 90px; */
   top: -11%;
   left: 20%;
   max-width: 1000px;              
   }
   .container .section .contenta{
    position: absolute;
    /* bottom: 90px; */
    top: 10%;
    left: 10%;
    max-width: 1000px;              
    }
    .container .section .contenta h6{
      color: aqua;     
      font-size: 300%;
      margin-bottom: 20%;
      }
      .container .section .contenta p6{
        color: rgb(247, 247, 242);  
        font-size: 150%;
        }
.container1 {
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 100px 0;
   /* background-color: #111; */
 }
 .timeline {
   width: 80%;
   height: auto;
   max-width: 900px;
   margin: 0 auto;
   position: relative;
 }
 
 .timeline ul {
   list-style: none;
 }
 .timeline ul li {
   padding: 10px;
   background-color: #1e1f22;
   opacity: 0.6;
   color: rgb(255, 255, 255);
   border-radius: 10px;
   margin-bottom: 20px;
 }
 .timeline ul li:last-child {
   margin-bottom: 0;
 }
 .timeline-content h1 {
   font-weight: 500;
   font-size: 25px;
   /* line-height: 30px; */
   color: rgb(211, 199, 35);
   margin-bottom: 10px;
 }
 .timeline-content p {
   font-size: 16px;
   /* line-height: 30px; */
   font-weight: 300;
 }
 .timeline-content .date {
   font-size: 13px;
   font-weight: 800;
   margin-bottom: 1px;
   letter-spacing: 1px;
   color: rgb(8, 8, 8);
 }
 @media only screen and (min-width: 768px) {
   .timeline:before {
     content: "";
     position: absolute;
     top: 67px;
     left: 50%;
     transform: translateX(-50%);
     width: 2px;
     height: 90%;
     background-color: gray;
   }
   .timeline ul li {
     width: 50%;
     position: relative;
     margin-bottom: 50px;
   }
   /* first child */
   
  
   .timeline ul li:nth-child(odd) {
     float: left;
     clear: right;
     transform: translateX(-30px);
     border-radius: 20px 0px 20px 20px;
   }
   .timeline ul li:nth-child(even) {
     float: right;
     clear: left;
     transform: translateX(30px);
     border-radius: 0px 20px 20px 20px;
   }
   .timeline ul li::before {
     content: ""; 
     position: absolute;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background-color: gray;
     top: 0px;
   }
   .timeline ul li:nth-child(1) {
     color :rgb(78, 44, 44);
     background-color: rgb(255, 255, 255);
     text-align: center;
     transform: translateX(155px);
     border-radius: 20px 0px 20px 20px;
     padding-top:18px ;
   }

   .timeline ul li:nth-child(1)::before {
     content: "";
     position: absolute;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background-color: rgb(255, 255, 255);
     top: 55px;
     left:148px;
 }
   .timeline ul li:nth-child(odd)::before {
     transform: translate(50%, -50%);
     right: -30px;
   }
   .timeline ul li:nth-child(even)::before {
     transform: translate(-50%, -50%);
     left: -30px;
   }
   .timeline-content .date {
     position: absolute;
     top: -30px;
   }
   .timeline ul li:hover::before {
     background-color: rgb(255, 255, 255);
   }
 }
 
 .head {
  /* background-color: blue; */
  height: 30%;
  width: 100%
}

.bottom {
  /* background-color: aqua; */
  height: 70%;
  width: 100%
}
img {
  border-radius: 50%;
}
.bottom .left {
  background-color: blueviolet;
  width: 50%;
  height: 100%;
  float: left;
}

.bottom .right {
  /* background-color: coral; */
  width: 50%;
  height: 100%;
  float: right;

}

.progress{
  display: flex;
  height: 39px;
  overflow: hidden;
  font-size: .75rem;
  background-color: #bec5cc;
  border-radius: 0.25rem;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 17px;
}

.bottom .right .side {
  width: 100%;
  height: 50%;
  padding-left: 4%;
}